*,::after, ::before{
  font:inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color: var(--background);
  color: var(--forground);
  font-family: 'Quicksand', sans-serif;
}
body{
  min-height: 100vh;

}
a{
  text-decoration: none;
  color: var(--primary);
  font-weight: bold;
}
h1,h2,h3{
  font-weight: bold;
  font-size: 2rem;
  margin: 1rem 0;
}
h2{
  font-size: 1.5rem;
}
h3{
  font-size: 1.2rem;
  margin: 0;
}

img{
  display: block;
  width: 100%;
  object-fit: cover;
}

.container{
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}
.primary{
  color: var(--primary);
}

.logo{
  color: inherit;
  span{
    color: var(--primary);
  }
}

