*,::after, ::before, ::placeholder{
  font:inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color: var(--background);
  color: var(--forground);
  font-family: 'Quicksand', sans-serif;
}
body{
  min-height: 100vh;
  display: grid;
  gap: 2rem;
  grid-template-rows: auto 1fr auto;

}
main{
  width: 100%;
}
a{
  text-decoration: none;
  color: var(--primary);
  font-weight: bold;
}
h1,h2,h3{
  font-weight: bold;
  font-size: 2rem;
  margin: 1rem 0;
}
h2{
  font-size: 1.5rem;
}
h3{
  font-size: 1.2rem;
  margin: 0;
}
strong{
  font-weight: bold;
}
img{
  display: block;
  width: 100%;
  object-fit: cover;
}
option{
  color: var(--background);
}
input, button, .button, select{

  outline: none;
  border: 1px solid var(--gray);
  background-color: transparent;
  display: block;
  width: 100%;
  padding: .5rem 1rem;
  border-radius: 10px;
  margin-bottom: 1rem ;
  margin-top: .4rem ;
}

button, .button{
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--forground);
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  &.left{
    margin-right: auto;
    width: max-content;
  }
  &.right{
    margin-left: auto;
    width: max-content;
  }
}
.outline{
  background-color: transparent;
}

.buttons{
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  .left, .right{
    margin: 0;
  }
}
.container{
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}
.primary,.alert{
  color: var(--primary);
}

.logo{
  color: inherit;
  span{
    color: var(--primary);
  }
}
.product{
  p{
    margin: .3rem 0;
  }
  &.unavailable{
    .img{
      position: relative;
      overflow: hidden;
      &::before{
        content :"Unavailable";
        position: absolute;
        z-index: 3;
        right: 0rem;
        top:0rem;
        background-color: var(--primary);
        color: var(--forground);
        padding: .3rem;


      }
    }

  }

}
.products, .categories{


  .grid{
    display: grid;
    gap: 2rem;

    .img{
      height: 100%;
      border-radius: 1rem;
      height: 350px;
      overflow: hidden;
    }
    img{
      height: 100%;
    }
    h3{
      color: var(--forground);
    }

  }
  @include  media-breakpoint-up(md){
    .grid{
      grid-template-columns: 1fr 1fr;
    }
  }
}

.categories{
  .category{
    position: relative;

  }
  .img{
    position: relative;
    &::before{
      content: "";
      position: absolute;
      top:0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, .6);
    }
  }
  h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--forground);

  }

}

.total-cart{

  font-size: 2rem;
  margin-left: auto;
  width: max-content;
  strong{
    color: var(--primary);
  }
}
.users{
  display: grid;
  gap: 2rem;
  @include  media-breakpoint-up(md){
  grid-template-columns: 1fr 1fr;
  }
}
.user{
  border: 1px solid var(--gray);
  padding: 1rem;
  border-radius: 10px;
  display: grid;
  gap: 1rem;
  >div{
    border: 1px solid var(--gray);
    padding: .5rem;
    border-radius: 10px;
  }

}