/* ------------------- breakpoints ------------------------- */
$breakpoints: (
        md: 750px,
        lg: 1024px,
        xl: 1350px,
);
/* ------------------- colors ------------------------- */
:root {
  --primary: crimson;
  --background: rgb(40, 40, 40);
  --forground: white;
  --gray: #444444;
  --black: black;

}