{% extends 'base.html.twig' %}
{% block class %}Cart{% endblock %}
{% block title %}Cart{% endblock %}

{% block body %}




        {% if products |length <=0 %}
            <h1>Empty, literally empty :( </h1>
            <p colspan="6">No records found in your cart. Feel free to browse our large <span class="logo"><span>B</span>ook<span>S</span>tore</span>. We are sure you can find something that suits you :). </p>
        {% endif %}

        {% if products | length > 0 %}
            <h1>In your cart and  us ready to send them :)</h1>
            {{ include('partials/_products.html.twig')}}
            <div class="total-cart">Total: <strong>{{ totalPrice }}€</strong> </div>
        {% endif %}

{% endblock %}
