.header{
  border-bottom: 1px solid var(--gray);
  position: sticky;
  background-color: var(--background);
  top: 0;
  z-index: 4;
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  a{  color: var(--forground);}
  svg{
    width: 2rem;

  }
  .account svg{
    width: 1.5rem;
    transform: translateY(.3rem);
  }

  .right, .center{
    display: flex;
    align-items: center;
    gap: 2rem;
  }


  .cart{
  position: relative;
  display: block;
  padding-right: 1rem;
  padding-top: 1rem;
  color: var(--forground);

  span{
    color: var(--primary);
    background-color: var(--forground);
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0rem;
    right:-.3rem;

  }
}
}