.header{
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.cart{
  position: relative;
  display: block;
  padding-right: 1rem;
  padding-top: 1rem;
  color: var(--forground);
  svg{
    width: 2rem;
  }
  span{
    color: var(--primary);
    background-color: var(--forground);
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0rem;
    right:-.3rem;

  }
}
}