{% extends 'base.html.twig' %}
{% block class %}home{% endblock %}
{% block title %}Home{% endblock %}

{% block body %}

    <h2>Categories</h2>
    {{ include('partials/_categories.html.twig') }}
    <h2>Products</h2>

    {{ include('partials/_products.html.twig') }}


{% endblock %}
