<footer class="footer">
    <div class=" container">
        <p><span class="logo"><span>B</span>ook<span>S</span>tore</span> BookStore est un magazin de livres en ligne. Un projet réalisé dans le cadre licence Projet Web et Mobile de Sorbonne Université.</p>
        <div class="copyright">&#169; 2022 Youssouf Oumar</div>
    </div>

</footer>