<footer class="footer">
    <div class=" container">
        <p><span class="logo"><span>B</span>ook<span>S</span>tore</span> is made as a school project, made by <a
                    href="https://github.com/yousoumar/">youssouf oumar</a>.</p>
    </div>

</footer>