<footer class="footer">
    <div class=" container">
        <p><span class="logo"><span>B</span>ook<span>S</span>tore</span> is made as a school project. &#169; 2022 <a href="https://github.com/yousoumar/">Youssouf Oumar</a>, but you can steal it :)</p>
    </div>

</footer>