{% extends 'base.html.twig' %}

{% block title %}Your books are on the way :){% endblock %}

{% block body %}
    <h1>Your books are on the way :)</h1>
    <p>So happy to deliver them to you very soon.</p>
{% endblock %}
