{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_category_new') }}">Create new</a>
    {% endif %}
    <h1>All categories</h1>
    {{ include('partials/_categories.html.twig') }}


{% endblock %}
