{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}

    <div class="form">
        <h1>Create new product</h1>
        {{ include('product/_form.html.twig') }}
    </div>



{% endblock %}
