.user-show{

  .column >div{
    border: 1px solid var(--gray);
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
  }

  @include  media-breakpoint-up(md){
    .grid{
        display: grid;
       gap: 2rem;
        grid-template-columns: 1fr 1fr;
      }
  }
}
.category-show{
  .category{
    display:flex;
    flex-direction: column-reverse;
    gap: 1rem;
    h2{
      margin-bottom: .5rem;
    }

  }
 .links{
   display: flex;
   align-items: center;
   gap: 1rem;
   margin-top: .5rem;
   button{
     padding: 0;
     background-color: transparent;
     margin: 0;
     border: none;
     color: var(--primary);

   }
 }
  .button{
    margin-top: 1rem;
  }
  @include  media-breakpoint-up(md){
    .category{
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
  }
}

.cart{
  .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    border-top: 1px solid var(--gray);
    padding-top: 2rem;
    margin-top: 2rem;
    a{
      margin: 0;
      width: max-content;
    }
    .total-cart{

      width: max-content;
      strong{
        font-size: 1.5rem;
        color: var(--primary);
      }
    }
  }

}