{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}

    <div class="form with-groups">
        <h1>You want to edit you profile information, we got this:)</h1>
        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
